<div class="container">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, transformation: [{gravity: "face", height: 400, width: 400, crop: "thumb"}] %>
  <% else %>
    <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png" %>
  <% end %>
  <h1><%= @user.full_name %></h1>
  <p><%= @user.address.city if @user.role == "artist" %></p>
  <%= link_to "Criar postagem", new_post_path if current_user.role == "artist" && @user == current_user %> <br>
  <%= link_to "Pedir orçamento", new_artist_quotation_path(@user) if @user != current_user %>
  <%= link_to "Editar perfil", edit_user_registration_path if @user == current_user%> <br>
  <%= link_to 'Back', :back %>
</div>
