<div class="container">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, transformation: [{gravity: "face", height: 400, width: 400, crop: "thumb"}] %>
  <% else %>
    <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <% end %>
  <h1><%= [@user.first_name, @user.last_name].join(' ') %></h1>
  <p><%= @user.address.city %></p>
  <%= link_to "Criar postagem", new_post_path if current_user.role == "artist" %> <br>
  <%= link_to "Editar perfil", edit_user_registration_path if @user == current_user%> <br>
  <%= link_to 'Back', :back %>
</div>
