<div class="container center-from">
  <div class="form-container" id="bigger-form-container">
    <div class="form-infos">
      <h2>Edite seus dados</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="form-grid">
            <%= f.input :email, required: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :phone,
                        hint: "Deixe vaxio se não quiser alterar",
                        required: false,
                        label: "Telefone",
                        input_html: { autocomplete: "new-phone" }%>
          </div>
          <%= f.input :password,
                      hint: "Deixe vaxio se não quiser alterar",
                      required: false,
                      label: "Alterar senha",
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      label: "Digitar nova senha",
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :photo, label:"Alterar foto", as: :file %>
          <%= f.input :current_password,
                      hint: "Insira sua senha atual para confirmar as alterações",
                      required: true,
                      label: "Senha atual",
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="form-actions d-flex justify-content-between mb-3" id="edit-account-form">
          <% if @user.role == "artist" %>
            <%= link_to "Edit address", edit_address_path(current_user.address), class: "btn btn-flat" %>
          <% end %>
          <%= f.button :submit, "Confirm changes", class: "form-btn-small" %>
          <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-dark" %>
        </div>
      <% end %>
      <%= link_to user_profile_path(current_user) do %>
        <i class="fa-solid fa-chevron-left"><span class = "h5">Back</span></i>
      <% end %>
    </div>
  </div>
</div>
