<div class="row min-vh-100">
  <div class="col-5 background">
  </div>
  <div class="col-7 center-from">
    <div class="form-container" id="bigger-form-container">
      <div class="form-infos">
        <h2>Cadastre-se</h2>
        <p>Bem-vindo! Vamos criar seu perfil</p>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>
          <div class="form-grid">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        label: 'Nome',
                        placeholder: "José" %>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        label: 'Sobrenome',
                        placeholder: "Silva" %>
            <%= f.input :phone,
                        autofocus: true,
                        label: 'Telefone',
                        placeholder: "(XX) XXXXX-XXXX" %>

            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        placeholder: "joao@silva.com",
                        label: 'Email',
                        input_html: { label: "Enter your email" } %>
          </div>

          <%= f.input :photo, as: :file, label: 'Foto de perfil' %>

          <%= f.input :password,
                      required: true,
                      placeholder: "***********",
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      label: 'Senha',
                      input_html: { label: "new-password" } %>

          <%= f.input :password_confirmation,
                      required: true,
                      placeholder: "***********",
                      label: 'Confirme sua senha',
                      input_html: { autocomplete: "new-password" } %>

          <p class="mt-4">Você é um tatuador?</p>
          <div class="radio-btn-grid mb-4">
            <%= f.collection_radio_buttons :role, [['artist', 'Sim'], ['client', 'Não']], :first, :last, item_wrapper_tag: :div, required: true %>
          </div>
          <div class="form-actions" id="create-post-form">
            <%= f.button :submit, "Confirmar", data: { turbo: false }, class: "form-btn" %>
            <%= link_to 'Cancelar', :back, class: "btn btn-flat" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
