<div id="comment-<%= comment.id %>">
  <%= cl_image_tag comment.user.photo.key, transformation: [{gravity: "face", height: 400, width: 400, crop: "thumb"}], class: "avatar" %>
  <small>
    <strong><%= comment.user.full_name %></strong>
    <i><%= distance_of_time_in_words_to_now(comment.created_at) %></i>
  </small>
  <p><%= comment.content %></p>
</div>
