<div class="image-content">
  <div class="card-image">
    <%= render partial: "shared/user_photo", locals: { photo: quotation.user.photo } %>
  </div>
  <div class="card-icon">
    <%= link_to messages_index_path, class: "chat-link" do %>
      <i class="fa-solid fa-comment"></i>
    <% end %>
    <%= link_to user_profile_path(quotation.artist), class: "chat-link" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</div>
<div class="card-product-infos">
  <h2>Seu cliente: <%= quotation.user.first_name.capitalize %></h2>
  <p><strong>Descrição:</strong> <%= quotation.description %></p>
</div>
<div class="card-time">
  <p>Data: <%= quotation.date.strftime('%d/%m/%y') %></p>
</div>
