<div class="container">
<p>New Quotation</p>
<%= simple_form_for(@quotation) do |f| %>
  <%= f.input :size, collection: Quotation::SIZES %>
  <%= f.input :placement %>
  <%= f.input :date %>
  <%= f.input :description %>

  <%= f.submit %>
<% end %>
</div>
