<div class="container">
  <h1>Descreva sua ideia de tattoo!</h1>
  <%= simple_form_for @quotation, url: artist_quotations_path(@artist) do |f| %>
    <%= f.input :placement, collection: Quotation::PLACEMENT %>
    <%= f.input :size, collection: Quotation::SIZES %>
    <%= f.input :description, placeholder: "Breve descrição da sua ideia" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true}  %>
    <%= f.input :date %>

    <%= f.button :submit, "Pedir orçamento", class: "btn btn-flat" %>
  <% end %>
</div>
