<div class="dev-infos">
  <div class="img-box">
    <%= image_tag("fernando.jpg") %> <br>
  </div>
  <ul class="social-icons">
    <li>
      <%= link_to "https://github.com/fer2001", target: :_blank do %>
        <i class="fa-brands fa-square-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.linkedin.com/in/fer2001", target: :_blank do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.instagram.com/frnandosr", target: :_blank do %>
        <i class="fa-brands fa-square-instagram"></i>
      <% end %>
    </li>
  </ul>
  <div class="details">
    <h2 id="fernandoH2">Fernando Rodrigues <br> <span>Full Stack Developer</span></h2>
  </div>
</div>

<div class="dev-infos">
  <div class="img-box">
    <%= image_tag("gabriel.png") %> <br>
  </div>
  <ul class="social-icons">
    <li>
      <%= link_to "https://github.com/avlisemog", target: :_blank do %>
        <i class="fa-brands fa-square-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.linkedin.com/in/gabrielgomes1996/", target: :_blank do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.instagram.com/avlisemog/", target: :_blank do %>
        <i class="fa-brands fa-square-instagram"></i>
      <% end %>
    </li>
  </ul>
  <div class="details">
    <h2>Gabriel Gomes <br> <span>Full Stack Developer</span></h2>
  </div>
</div>

<div class="dev-infos">
  <div class="img-box">
    <%= image_tag("pedro.jpg") %> <br>
  </div>
  <ul class="social-icons">
    <li>
      <%= link_to "https://github.com/pedropuppin", target: :_blank do %>
        <i class="fa-brands fa-square-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.linkedin.com/in/pedro-puppin-82b770250/", target: :_blank do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.instagram.com/pedropuppintattoo/", target: :_blank do %>
        <i class="fa-brands fa-square-instagram"></i>
      <% end %>
    </li>
  </ul>
  <div class="details">
    <h2>Pedro Puppin <br> <span>Full Stack Developer</span></h2>
  </div>
</div>

<div class="dev-infos">
  <div class="img-box">
    <%= image_tag("emanuel.jpg") %> <br>
  </div>
  <ul class="social-icons">
    <li>
      <%= link_to "https://github.com/ebbmango", target: :_blank do %>
        <i class="fa-brands fa-square-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.linkedin.com/in/emanuel-borges-21a80b243/", target: :_blank do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#", target: :_blank do %>
        <i class="fa-brands fa-square-instagram"></i>
      <% end %>
    </li>
  </ul>
  <div class="details">
    <h2 id="fernandoH2">Emanuel Borges <br> <span>Full Stack Developer</span></h2>
  </div>
</div>
