<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://tristero.qodeinteractive.com/dark/wp-content/uploads/2020/02/port-1-featured-img.jpg);">
  <div class="container">
    <h5>my</h5>
    <h1>- TATTOO PROJECT -</h1>
    <p>Achar seu tatuador nunca foi tão fácil</p>
    <%= link_to "Procure sua tattoo!", posts_path, class: "btn btn-home" %>
  </div>
</div>
<div class="developers row">
  <div class="dev-infos col">
    <%= image_tag("pedro.png") %> <br>
    <h3>Pedro Puppin</h3>
    <%= link_to "mais informações", "https://github.com/pedropuppin", target: :_blank  %>
  </div>
  <div class="dev-infos col">
    <%= image_tag("gabriel.png") %> <br>
    <h3>Gabriel Gomes</h3>
    <%= link_to "mais informações", "https://github.com/avlisemog", target: :_blank  %>
  </div>
</div>
