<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-6 border rounded p-5 bg-white">
      <%= simple_form_for @address, url: addresses_path do |f|%>
        <%= f.input :zipcode %>
        <%= f.input :country, as: :string %>
        <%= f.input :city %>
        <%= f.input :street%>
        <%= f.input :number %>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-dark" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
