<div class="post-modal">
  <div class="row d-flex">
    <div class="post-img col">
      <%= cl_image_tag post.photo.key, class: "w-100 h-100"%>
    </div>

    <div class="post-info col h-100">
      <div class="user-info">
        <div class="user-link">
          <% if post.user.photo.attached? %>
            <%= cl_image_tag post.user.photo.key, transformation: [{gravity: "face", height: 50, width: 50, crop: "thumb"}], class: "post-avatar" %>
          <% else %>
            <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149071.png", class: "post-avatar" %>
          <% end %>
          <h5 class="post-user-name"><%= link_to post.user.full_name, user_profile_path(post.user), class: "text-decoration-none" %></h5>
        </div>
        <% if post.user == current_user %>
          <div class="dropdown">
            <%= link_to nil, data: { bs_toggle: "dropdown", aria_expanded: "false"} do %>
              <i class="fa-solid fa-ellipsis"></i>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "Editar", edit_post_path(post), class: "dropdown-item" %></li>
              <li><%= link_to 'Deletar', post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?" }, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cancelar</a></li>
            </ul>
          </div>
        <% end %>
      </div>

      <p class="card-text"><%= post.content %></p>

      <div class="comment-container" data-controller="insert-in-list">
        <div class="comments overflow-auto" data-insert-in-list-target="comments" style="height: 400px">
          <span class="mb-2 d-block"><small><em class="text-muted"><%= "nenhum comentário foi feito" if post.comments.empty? %></em></small></span>
          <% post.comments.order(created_at: :desc).each do |comment| %>
            <%= render "comments/comment", comment: comment %>
          <% end %>
        </div>

        <div class="user-actions">
          <div class="like-button h-100">
            <% if user_signed_in? %>
              <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <% like = current_user.likes.find_by(post_id: post.id) %>
                <br>
                <%= link_to like_path(like), data: { turbo_method: :delete } do %>
                  <i class="fa-solid fa-heart-crack"></i>
                <% end %>
              <% else %>
              <br>
                <%= link_to post_likes_path(post), data: { turbo_method: :post } do %>
                  <i class="fa-solid fa-heart"></i>
                <% end %>
              <% end %>
            <% end %>
            <p><%= pluralize(post.likes.count, 'Like') %></p>
          </div>
          <p>
            Tags:
            <% post.tags.each do |tag| %>
              #<%= link_to tag.name, tag_path(tag), class: "text-decoration-none" %>
            <% end %>
          </p>
        </div>
        <% if current_user %>
          <%= render "comments/comment_form", comment: comment, post: post %>
        <% else %>
          <p>Para comentar <%= link_to "Clique aqui ", new_user_session_path %></p>
        <% end %>
      </div>


      <p class="card-text"><small class="text-muted"><%= distance_of_time_in_words_to_now(post.created_at) %></small></p>
    </div>
  </div>
</div>
